*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

/* header section start here*/
.header{
    background: url(../assests/images/banner/banner3.png);
    height: 100vh;
    width: 100%;
    
}
.header-row{
    margin-left: 55%;
    float: right;
    margin-top: 20%;
    margin-right: 15%;
    text-align: end;
}
.header-titale{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    text-transform: capitalize;
}

.header-sub-titale{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
}
.header-discription{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
    border: 0;
}
.btn-primary a{
    color: #005FAC;
}
.fa-solid.fa-phone{
    color: #005FAC;
    margin-right: 5px;
}

/*main start here*/
main{
    width: 80%;
    margin: 0 auto;
}

.my-failor{
    display: flex;
    margin-top: 105px;
    background-color: aliceblue;
    border-radius: 5px;
   
}

img {
    height: 723px;
    width: 569px;
    background-color:;
}
.failor-discription{
   
    margin-top: 250px;
}
.failor-titale{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}
.failor-decription{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 15px;
}
.failor-discription1{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-left: 20px;
}
.fa-solid.fa-xmark{
    color: red;
    margin-right: 10px;
}

/*my plane start here*/

.my-plane{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    text-transform: capitalize;
    
    
}
.next-pan{
    display: flex;
    
    margin-top: 50px;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: start;
}
.plans{
    
    margin: 15px;
}
.fa-house-laptop{
    font-size: 50px;
    margin: 15px;
    color: #005FAC;
}
.fa-code{
    font-size: 50px;
    margin: 15px;
    color: #005FAC;
}
.fa-laptop-code{
    font-size: 50px;
    margin: 15px;
    color: #005FAC;
}
.fa-person-running{
    font-size: 50px;
    margin: 15px;
    color: #005FAC;
}
.plans-titale{
    margin: 15px;
    text-align: start;
}
.plans p{
    margin-left: 15px;
}

/*------call now start here ------*/

.call-now{
    background-image:linear-gradient( to right , rgba(20, 83, 218, 0.7) , rgba(0,0,0,0.7)), url(../assests/images/watch.png) ;
    
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    margin-left: 100px;
}
.btn-secedary{
    background-color: solid transparent;
    padding: 10px;
    
}
.call-titale{
    color:#FFFFFF;
    text-transform: capitalize;
}
.second{
    margin-top: 15px;
}

/*footer start here*/

footer{
    background-color: black; 
    margin-top: 100px;
}

footer img{
   height: 25px;
   width: 25px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.future{
    
    margin-left: 16%;
    padding: 20px;
}
.subscribe{
    
    margin-right: 12%;
    padding: 30px;
}
.footer-titale{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.footer-description{
    font-weight: 400;
    font-size: 16px;
    color:#444343;
    margin-bottom: 15px;
}
.footer-sub-tittale{
  color:#444343;
  margin-bottom: 15px;
}
input{
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.footer-titale1{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 15px;
    text-transform: capitalize;
}